
@{
    ViewBag.Title = "Index";
}
<div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Img/Foto_Carrusel2.jpg" alt="Image" class="CarouselImg">
                <div class="carousel-caption">
                    <h2>Taller Gollo</h2>
                    <p></p>
                </div>
            </div>

            <div class="item">
                <img src="~/Img/Foto_Carrusel1.jpg" alt="Image" class="CarouselImg">
                <div class="carousel-caption">
                    <h2>Freighlitner M2</h2>
                    <p>Reemplazo del filtro de agua y una manguera del compresor.</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Img/Foto_Carrusel3.jpg" alt="Image" class="CarouselImg"">
                <div class="carousel-caption">
                    <h2>Furgón</h2>
                    <p>Pintura de puertas, aros, bocinas y franja anaranjada.</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container text-center">
        <h1>Nuestra historia</h1><br>
        <hr />
        <div class="row">
            <div class="col-xs-3">
                <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.1455143446683!2d-84.22366878474223!3d10.004836775694987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f9d48339176f%3A0xebd422187fb705a8!2sTaller%20Gorro!5e0!3m2!1sen!2scr!4v1646776857007!5m2!1sen!2scr" width="400" height="300" style="border:0;" allowfullscreen loading="lazy"></iframe>
                </div> 
            </div>
            <div class="col" style="text-align: left">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis odio vestibulum neque convallis efficitur. Praesent quis nisl molestie, aliquam erat quis, malesuada ante. Nullam dapibus ac augue eu gravida. Vestibulum a risus pellentesque, ornare augue nec, congue quam. Nullam odio quam, tempus ac augue aliquam, semper tristique sem. Nulla et convallis tellus, non pulvinar urna. Nulla sit amet scelerisque massa, vel ultricies dui. Nulla a tempor erat. Fusce facilisis aliquam aliquam. Donec justo neque, rutrum ac est scelerisque, porta volutpat quam. Donec sit amet convallis odio, a ornare nunc. Proin imperdiet nisi felis, ac faucibus est ultrices quis. Maecenas fringilla velit vitae ipsum feugiat tristique. Aliquam sagittis gravida orci.

                    Nulla facilisi. Nunc sed aliquet dolor. Proin placerat sollicitudin metus eget efficitur. Vestibulum vel sem at diam vestibulum interdum non vitae quam. Cras ornare, est a mollis finibus, ante diam porttitor dui, sed lobortis dui tellus et odio. Aenean in nibh massa. Morbi sollicitudin mollis velit nec finibus. Integer eget quam vel ante porta sagittis. Praesent faucibus nulla sit amet augue suscipit aliquam. Ut molestie enim congue est dapibus tempor. Nullam consectetur, erat non rhoncus suscipit, velit nulla efficitur turpis, ut volutpat lacus magna id sapien. Ut accumsan rutrum congue. Vestibulum sit amet consequat dui. Fusce in lacus tincidunt nisl tincidunt sollicitudin ac in nisi. Curabitur sit amet lacinia ipsum.

                    Nunc vitae tristique arcu. Ut quis nulla massa. Suspendisse viverra mollis ligula, nec blandit arcu aliquam eget. Nullam auctor luctus diam, non tempor lacus pretium id. Praesent a odio eget tellus consequat faucibus nec id dui. Maecenas dapibus, sem at tincidunt bibendum, odio ipsum semper sapien, eu volutpat nisl nunc sed sem. Nulla sodales rhoncus nunc at viverra. Cras porta viverra leo sit amet fringilla. Curabitur vitae ultrices leo. In vitae odio auctor, ultricies dolor eu, interdum ante. Cras blandit est eu nibh posuere, vel laoreet orci efficitur.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis odio vestibulum neque convallis efficitur. Praesent quis nisl molestie, aliquam erat quis, malesuada ante. Nullam dapibus ac augue eu gravida. Vestibulum a risus pellentesque, ornare augue nec, congue quam. Nullam odio quam, tempus ac augue aliquam, semper tristique sem. Nulla et convallis tellus, non pulvinar urna. Nulla sit amet scelerisque massa, vel ultricies dui. Nulla a tempor erat. Fusce facilisis aliquam aliquam. Donec justo neque, rutrum ac est scelerisque, porta volutpat quam. Donec sit amet convallis odio, a ornare nunc. Proin imperdiet nisi felis, ac faucibus est ultrices quis. Maecenas fringilla velit vitae ipsum feugiat tristique. Aliquam sagittis gravida orci.

                    Nulla facilisi. Nunc sed aliquet dolor. Proin placerat sollicitudin metus eget efficitur. Vestibulum vel sem at diam vestibulum interdum non vitae quam. Cras ornare, est a mollis finibus, ante diam porttitor dui, sed lobortis dui tellus et odio. Aenean in nibh massa. Morbi sollicitudin mollis velit nec finibus. Integer eget quam vel ante porta sagittis. Praesent faucibus nulla sit amet augue suscipit aliquam. Ut molestie enim congue est dapibus tempor. Nullam consectetur, erat non rhoncus suscipit, velit nulla efficitur turpis, ut volutpat lacus magna id sapien. Ut accumsan rutrum congue. Vestibulum sit amet consequat dui. Fusce in lacus tincidunt nisl tincidunt sollicitudin ac in nisi. Curabitur sit amet lacinia ipsum.

                    Nunc vitae tristique arcu. Ut quis nulla massa. Suspendisse viverra mollis ligula, nec blandit arcu aliquam eget. Nullam auctor luctus diam, non tempor lacus pretium id. Praesent a odio eget tellus consequat faucibus nec id dui. Maecenas dapibus, sem at tincidunt bibendum, odio ipsum semper sapien, eu volutpat nisl nunc sed sem. Nulla sodales rhoncus nunc at viverra. Cras porta viverra leo sit amet fringilla. Curabitur vitae ultrices leo. In vitae odio auctor, ultricies dolor eu, interdum ante. Cras blandit est eu nibh posuere, vel laoreet orci efficitur.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sagittis odio vestibulum neque convallis efficitur. Praesent quis nisl molestie, aliquam erat quis, malesuada ante. Nullam dapibus ac augue eu gravida. Vestibulum a risus pellentesque, ornare augue nec, congue quam. Nullam odio quam, tempus ac augue aliquam, semper tristique sem. Nulla et convallis tellus, non pulvinar urna. Nulla sit amet scelerisque massa, vel ultricies dui. Nulla a tempor erat. Fusce facilisis aliquam aliquam. Donec justo neque, rutrum ac est scelerisque, porta volutpat quam. Donec sit amet convallis odio, a ornare nunc. Proin imperdiet nisi felis, ac faucibus est ultrices quis. Maecenas fringilla velit vitae ipsum feugiat tristique. Aliquam sagittis gravida orci.

                    Nulla facilisi. Nunc sed aliquet dolor. Proin placerat sollicitudin metus eget efficitur. Vestibulum vel sem at diam vestibulum interdum non vitae quam. Cras ornare, est a mollis finibus, ante diam porttitor dui, sed lobortis dui tellus et odio. Aenean in nibh massa. Morbi sollicitudin mollis velit nec finibus. Integer eget quam vel ante porta sagittis. Praesent faucibus nulla sit amet augue suscipit aliquam. Ut molestie enim congue est dapibus tempor. Nullam consectetur, erat non rhoncus suscipit, velit nulla efficitur turpis, ut volutpat lacus magna id sapien. Ut accumsan rutrum congue. Vestibulum sit amet consequat dui. Fusce in lacus tincidunt nisl tincidunt sollicitudin ac in nisi. Curabitur sit amet lacinia ipsum.

                    Nunc vitae tristique arcu. Ut quis nulla massa. Suspendisse viverra mollis ligula, nec blandit arcu aliquam eget. Nullam auctor luctus diam, non tempor lacus pretium id. Praesent a odio eget tellus consequat faucibus nec id dui. Maecenas dapibus, sem at tincidunt bibendum, odio ipsum semper sapien, eu volutpat nisl nunc sed sem. Nulla sodales rhoncus nunc at viverra. Cras porta viverra leo sit amet fringilla. Curabitur vitae ultrices leo. In vitae odio auctor, ultricies dolor eu, interdum ante. Cras blandit est eu nibh posuere, vel laoreet orci efficitur.
                </p>
            </div>
        </div>


    </div>
</div>


