.BGBody {
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #ffffff 50%, #bcbcbc 50%);
    background-size: 40px 40px;
    padding-bottom: 0px;
    /*    min-height: 1000px
*/
}
.ContentDiv {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0px
}

@font-face {
    font-family: myFont;
    src: url('../fonts/Ubuntu-Regular.ttf');
}
.bodyStyle {
    color: #171614 !important;
    font-family: myFont !important;
    letter-spacing: 0.2em !important;
    font-size: 1.5em !important;
}
div p {
    color: #515267;
}

body h1, h2 {
    color: #346283;
    
}
body p {
    font-size: 20px;
}
h1 h2 {
    margin-bottom: 20px;
}

body p {
    color: #515267;
}

.font_white {
    color: #FCFCFC;
}

.imgSmall{
    height:60px;
    width:60px;
}
.imgMed{
    height: 35em;
}
.darker{
    background-color: rgb(235, 235, 235);
    padding-top:20px;
    padding-bottom: 20px;
}


.bodyDiv {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 3px 5px 4px 2px rgba(0,0,0,0.57);
    box-shadow: 3px 5px 4px 2px rgba(0,0,0,0.57);
    margin-top: 45px;
    border-radius: 10px;
    margin-bottom: 200px;
}
.footerIcon{
    height:20px;
    width:20px;
    margin-right: 10px;
}
.imgIndex{
    height:160px;
    width:300px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 500px;
    object-fit: cover
}
.CarouselImg img {
    height: 100px;
    width: 100%;
}
.btnMant a {
    color: rgb(239, 239, 239)
}
.btnMant{
    margin: 10px;
}
.logo {
    height: 60px;
    width: 110px;
}

.logoFooter{
    height:100px;
}
.Myfooter {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}



.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        min-width: 100px;
    }



.mapouter {
    position: relative;
    text-align: right;
    height: 310px;
    width: 299px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 310px;
    width: 299px;
}
