.BGBody {
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #ffffff 50%, #bcbcbc 50%);
    background-size: 40px 40px;
    padding-bottom: 0px;
    /*    min-height: 1000px
*/
}
.ContentDiv {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0px
}





.bodyDiv {
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 3px 5px 4px 2px rgba(0,0,0,0.57);
    box-shadow: 3px 5px 4px 2px rgba(0,0,0,0.57);
    margin-top: 45px;
    border-radius: 10px;
    margin-bottom: 200px;
}
.footerIcon{
    height:20px;
    width:20px;
    margin-right: 10px;
}
.imgIndex{
    height:160px;
    width:300px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 500px;
    object-fit: cover
}
.CarouselImg img {
    height: 100px;
    width: 100%;
}
.btnMant a {
    color: rgb(239, 239, 239)
}
.btnMant{
    margin: 10px;
}
.logo {
    height: 60px;
    width: 110px;
}

.logoFooter{
    height:100px;
}
.Myfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    /*    color: aliceblue;
    position: absolute;
    bottom: 0;
    width: 100%;*/
}
.Myfooter a,p{
    font-size: 12px;
}


.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        min-width: 100px;
    }



.mapouter {
    position: relative;
    text-align: right;
    height: 310px;
    width: 299px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 310px;
    width: 299px;
}
