@model Infrastructure.Models.TipoProducto

@{
    ViewBag.Title = "Detalle Tipo";
}

<div class="card-body">
    <div class="row-mb-3">
        <h2>Detalle del Tipo</h2>
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionTipo)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar al listado", "Index")
</p>
